<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <!--connectionString for NeTMed-->
  <connectionStrings>
    <add name="NeTMedSQLConnectionString" connectionString="Data Source=BLMCGL\BBIP2008,2506;Initial Catalog=T_NeTMeD;User ID=netmed_user;Password=netmed_user2016tr" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>